:root {
	--bg-clr: hsl(220 10% 10%);
	--txt-clr: hsl(220 10% 98%);
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	place-content: center;
	font-family: 'PT Sans', sans-serif;
	color: var(--txt-clr);
	background-color: var(--bg-clr);
	overflow: hidden;
	transition: background-color 0.3s, color 0.3s;
}


:has([data-state='convert.start']) {
	--txt-clr: hsl(0 0% 0%);
	--bg-clr: hsl(60 100% 50%)
}

:has([data-state='convert.error']) {
	--txt-clr: hsl(0 0% 0%);
	--bg-clr: hsl(10 100% 50%)
}

:has([data-state='convert.done']) {
	--txt-clr: hsl(0 0% 0%);
	--bg-clr: hsl(146 100% 50%)
}
